* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.position-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #353a45;
  box-shadow: 0px 0px 26px rgba(35, 70, 133, 0.28);
  border-radius: 24px;
  box-sizing: content-box;
}

.bg-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  background: linear-gradient(54.21deg, #47aae6 14.55%, #9372bf 85.75%);
  box-shadow: 1.5px 1.5px 2.6px rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  margin-top: -46px;
}

.bg-bordre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-name {
  font-family: Lato;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  padding-top: 21px;
}

.text-1 {
  font-family: Lato;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 27px;
}

.lable {
  padding-top: 36px;
}

.inp-style {
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  color: #787d87;
  box-shadow: inset 0.5px 0.5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 13px 147px 15px 16px;
  border: none;
  outline: none;
  width: 100%;
}

.btn {
  padding-top: 36px;
}

.btn-style {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 32px 15px 34px;
  background: #538fff;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;

}

.btn-style:hover {
  background: hsl(115, 92%, 44%);
}

.text-2 {
  font-family: Lato;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #787d87;
  padding-top: 32px;
  padding-bottom: 60px;
}
